chromadb
streamlit 
langchain 
langchain-google-genai 
langchain-chroma 
langchain-community 
pydantic-settings 
python-dotenv 
langchain-redis 
redis 
torch 
sentencepiece 
transformers 
accelerate


Dagim - Data Preprocessing
Saron - Presentation and Data Acquisation
Sisay - UI
Biruh - Prompt Engineering
Natnael - RAG

Future - AAU website chabot
Future Implementation - Multilingual
Data
